small + small {
    display: none;
}

input:valid + small {
    display: none;
}

input:valid + small + small {
    display: inline;
}

input:valid {
    background: rgb(198, 243, 198);
}

input:invalid {
    background: rgb(240, 177, 177);
}

.container {
    display: flex;
    flex-direction: column;
}
